# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build files
build/
dist/
coverage/

# Editor and IDE files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# OS-specific files
Thumbs.db

# Optional for frontend frameworks
.next/
.nuxt/
